
 <div class="about-section">
  <h1 style="font-size: 24pt;">Welcome to Book Hive</h1>
  <p>Shop The Best Collection Here</p>
</div>

<section id="about-us">
  <div class="container">
      <div class="row align-items-center">
          <div class="col mt-3">
              <h1 style="font-weight: bolder;">About Me</h1>
              <p>The Book Hive is a place that celebrates the beauty of printed material – as well as the pleasures of whimsical, alternative curation.
                 We display our stock in a way that maximises the visual impact of book design, liberally spreading titles over tables and shelves face-out where possible. 
                The shop is well-known for foregoing traditional sections, instead favouring mixes of the booksellers’ picks which allows for a unique browsing experience and the kind of serendipitous discovering that more traditional layouts – or algorithms – cannot replicate.<p>
              <p>The building itself has been lovingly renovated inside, combining the charm and character of the original space with a playful sense of fun and panache.
                The overall effect is an invitation to browse, discuss and spend time reading – not just to come and buy books.</p>
              <p>We also have a rich publishing history. The Book Hive is the original home of Galley Beggar Press, established here by owner Henry Layte and two of his customers.</p>

          </div>
      </div>
  </div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col">
              <h1 style="font-weight: bolder;">Our Mission</h1>
              <p>The Hive is a book about the dangers of social media taken to the extreme. Sometime in the not so distant future it is decided that people should be held accountable for absolutely everything they do online. When a person turns 13, they are given a social media identity that belongs only to them.</p>
          </div>
      </div>
  </div>
</section>

<h1 class="text-center text-danger bg-dark"><b><i>Our Developers</i></b></h1>

<div class="row">
  <div class="col-sm-3">
    <div class="card mt-5" style="width: 20rem;">
      <img src="https://cdn2.iconfinder.com/data/icons/men-avatars/33/man_19-512.png" alt="..."
      class="card-img-top">

      <div class="card-body bg-dark">
        <h5 class="card-title">Sayyed</h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted">syed@cgi.com</small></p>
      </div>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="card mt-5" style="width: 20rem;">
      <img src="https://www.clipartmax.com/png/middle/5-55403_blank-avatar-profile-pic-icon-female.png"alt="..."
      class="card-img-top">
      <div class="card-body bg-dark">
        <h5 class="card-title">Vaishnavi</h5>

                      <p class="card-text"><small class="text-muted">vaishnavi@cgi.com</small></p>
      </div>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="card mt-5" style="width: 20rem;">
      <img src="https://www.clipartmax.com/png/middle/5-55403_blank-avatar-profile-pic-icon-female.png"alt="..."
      class="card-img-top">
      <div class="card-body bg-dark">
        <h5 class="card-title">Charsima</h5>

                      <p class="card-text"><small class="text-muted">charisma@cgi.com</small></p>
      </div>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="card mt-5" style="width: 20rem;">
      <img src="https://www.clipartmax.com/png/middle/5-55403_blank-avatar-profile-pic-icon-female.png"alt="..."
      class="card-img-top">
      <div class="card-body bg-dark">
        <h5 class="ml-0 text-center ">Meghamala</h5>
        <p class="card-text"><small class="text-muted">bandaru.meghamala@cgi.com</small></p>  </div>
    </div>

  </div>

</div>

